<br/>
<div class="container-fluid" *ngIf="!chk">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info">Enter Email</div>
                          <div class="card-body">
            <form [formGroup]="forgotform" (ngSubmit)="buttonaction()">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email"/>
                <br/>
                <input type="submit" value="Next" class="btn btn-info"/>
                <br/>
                <label style="color: red;">{{msg}}</label>
            </form>
            </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container-fluid" *ngIf="chk">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
<div class="card-header bg-info">Change Password</div>
          <div class="card-body">
            <form [formGroup]="changeform" (ngSubmit)="changeaction()">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" formControlName="newpassword"/>
                <br/>
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmpassword"/>
                <br/>
                <input type="submit" value="Change Password" class="btn btn-info"/>
                <br/>
                <div *ngIf="msgchk;then temp1;else temp2">
                  
                </div>
                <ng-template #temp1>
                 <label style="color: green;">{{msg}}</label>
                </ng-template>
                <ng-template #temp2>
                    <label style="color: red;">{{msg}}</label>
                   </ng-template>
            </form>
        </div>
        </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>