<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info">
                    Add Product
                </div>
                <div class="card-body">
                    <form [formGroup]="productform" (ngSubmit)="buttonaction()">
                        <label> Name</label>
                        <input type="text" formControlName="name" class="form-control"/>
                       
                        <label> Description</label>
                        <input type="text" formControlName="description" class="form-control"/>
                    
                        <label> Price</label>
                        <input type="text" formControlName="price" class="form-control"/>
                     
                        <label> Quantity</label>
                        <input type="text" formControlName="quantity" class="form-control"/>
                    <br/>
                        <label> Select Image</label><br/>
                        <input type="file" (change)="fileaction($event)"/>
                        <br/>
                        <br/>
                        <label> Category</label>
                        <select formControlName="selectid" class="form-control" >
                           
                         <option *ngFor="let c of category" value="{{c.id}}" >
                          {{c.name}}
                         </option>
                        
                        </select>
                        <br/>
                        <input type="submit" value="Add" class="btn btn-primary" [disabled]="productform.invalid"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="View All Products" class="btn bg-info" (click)="viewallproduct()"/>
                        <br/>
                        <label style="color: green; font-style: oblique;">{{msg}}</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
