#sect1 {  
  
    background-image: url('/assets/Image/backgroungimage.jpg');
    
   background-repeat: no-repeat;
   background-size: cover;
   
} 
input.ng-touched.ng-invalid
{
border-color: red;
}  
input.ng-touched.ng-valid
{
   border-color: green; 
}  
