
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="/assets/Image/logo3.jpg" width="40" height="40" style="border-radius: 30px;">Medical
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewallbyuser" style="color: black;">Select Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usercart" style="color: black;">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vieworder" style="color: black;">Payment Details</a>
        </li>
      </ul>
      <form class="d-flex" style=" padding-left: 760px;">
       <a href="/login" style="color: black;">Log-Out</a>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid"  id="sect1">
<br/>
<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">




<ngb-carousel >
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Image/medicalpic3.jpg" alt="Random first slide" height="300px" width="100%"/>
  </div>

</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Image/medicalpic2.jpg" alt="Random second slide" height="300px" width="100%"/>
  </div>

</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Image/medicalpic1.jpg" alt="Random third slide" height="300px" width="100%"/>
  </div>
 
</ng-template>
</ngb-carousel>

</div>
<div class="col-md-2"></div>
</div>

<br/>
<br/>
<!--row for most viewd medicines--> 
<div class="row">
<div class="col-md-12" style="text-align: center;">
<label style="font-weight: bolder;font-style: italic;font-size:35px;">Most Viewed Medicines</label>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="row">
<div class="col-md-4">
  <img src="/assets/Image/mostviewed1.jpg" width="100%" height="150px"/>
</div>
<div class="col-md-4">
  <img src="/assets/Image/mostviewed2.jpg" width="100%" height="150px"/>
</div>
<div class="col-md-4">
  <img src="/assets/Image/mostviewed3.jpg" width="100%" height="150px"/>
</div>
</div>
</div>
<div class="col-md-3"></div>
</div>
<br/>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="row">
<div class="col-md-4">
  <img src="/assets/Image/mostviewed4.jpg" width="100%" height="150px"/>
</div>
<div class="col-md-4">
  <img src="/assets/Image/mostviewed5.jpg" width="100%" height="150px"/>
</div>
<div class="col-md-4">
  <img src="/assets/Image/mostviewed6.jpg" width="100%" height="150px"/>
</div>
</div>
</div>
<div class="col-md-3"></div>
</div>
</div>





